nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 2em 1em 2em; */
  background-color: #ffbe9e;
  width: 100vw;
}

nav > ul {
  display: flex;
  list-style: none;
  margin: 2em;
}

li a {
  margin: 0em 1em;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav li a.active {
  color: #375a64;
  font-weight: bold;
  font-size: 1em;
}

.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  width: 5em;
  margin: 0 1em 0 1.5em;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

h1 {
  font-weight: normal;
}
