.conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 25vw;
  right: 2em;
  width: 58vw;
  height: 10vh;
  background-color: #375a647e;
  border-radius: 1.5em;
  margin: 2em 0em;
}

.entered {
  height: 5vh;
  width: 25vw;
  margin: 0em 0.5em;
  border: none;
  border-radius: 0.5em;
  background-color: #ffffff;
}

.shortened {
  height: 5vh;
  width: 15vw;
  border: none;
  border-radius: 0.5em;
  background-color: #ffffff;
}

button {
  height: 5vh;
  width: 10vw;
  border: none;
  border-radius: 1em;
  margin-left: 1em;
  color: #375a64;
  padding: 0.3em;
}

button:hover {
  height: 5vh;
  width: 10vw;
  border: none;
  border-radius: 1em;
  margin-left: 1em;
  color: #ffffff;
  transform: scale(1.1);
  background-color: #375a64;
  cursor: pointer;
}
